
@media all and (min-width: 200px) and (max-width: 1800px){



    body   {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        
    
    }

 /*SECTION HEADER */
   
   .grasTexte {

        font-weight: bold;
        font-size: 18px;
    }

    .flexBetween {

        display: flex;
        justify-content: space-between;         
        align-items:flex-start;
    }

    header {
        margin: 0px;
        overflow: hidden;
    }

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header a>img.ohmyfood {
      
        height: 28px;
        margin-top: 22px;
        margin-bottom: 11px;
        margin-left: 20px;
    }

    /* SECTION RECHERCHER */

    .proj-ohmy {
        background-color: #ebebeb;
        box-shadow: 0px 7px 2px 10px #d9d9dd;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 17px;
           
    }

    .proj-ohmy__map {
        font-size: 16px;      
       padding-right: 16px;
    }

    .proj-ohmy__city {

        font-size: 16px;
    }

    /* SECTION RESERVER */

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 9px;
        padding-left: 30px;
        padding-right: 50px;
        margin-top: 27px;
    }

    figcaption {
        margin-top: 2px;
        line-height: 3px;
        color: black;
        margin-left: 13px;
        margin-right: 25px;
    }
     
    .proj-ohmy__btn {     
        color: white;                      
        cursor: pointer;
        border-radius: 28px;
        font-size: 14px;
        border: none;
        height: 43px;
        width: 204px;
        margin-top: 16px;
        background: linear-gradient(to bottom right,#FF79DA, #9356DC);
        margin-right: 10px;
        box-shadow: 14px 19px 15px #dad9d9;
        margin-bottom: 5px;
    }

    .proj-ohmy__btn:hover {
        background: linear-gradient(to bottom right,#ff8fdf, #a470e4);
    }

    .proj-ohmy__padding {
        padding-top: 13px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 52px;
    }

    .proj-ohmy__textAlign {
        text-align: center;
    }

    .proj-ohmy__paraMargin {
        margin-top: 10px;
        font-weight: 300;
        margin-right: 10px;
        font-size: 17px;
    }

    .proj-ohmy__backColor {

        background-color: #f6f6f6;
    }

    /* FONCTIONNEMENTS */

    .proj-ohmy__sectpadding {
        padding-top: 22px;
        margin-left: 20px;
        margin-right: 30px   
    }

    .proj-ohmy__titrefonct {
        
        margin-bottom: 21px; 
        margin-top: 20px;  
        font-size: 22px;
    }

    .proj-ohmy__div {
        padding-bottom: 17px;    
    }

    .proj-ohmy__div3 {
        padding-bottom: 17px;    
    }

    .proj-ohmy__btndiv {  
        background-color: #f6f6f6;  
        width: 100%;
        height: 65px;
        margin-left: 9px;
        padding-right: 0px;
        padding-left: 0px;
        border: none;
        margin-bottom: 22px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 17px;
        font-family: 'Roboto';
        font-weight: bold;
    } 

    .proj-ohmy__btndiv:hover {
        background-color: #fbfbfb;

    }

    .proj-ohmy__borders {
        box-shadow: 3px 9px 3px #f1f1f1;
        border-radius: 19px 19px 19px 19px;

    }

    .proj-ohmy__btndiv3 {
        background-color: #f4ebfe; 
        width: 100%;
        height: 65px;
        margin-left: 9px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 62px;
        border: none;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 17px;
        font-family: 'Roboto';
        font-weight: bold;
    }
    .proj-ohmy__btndiv3:hover {
        background-color: #f8f3fb;

    }

    .proj-ohmy__icondiv1 {
        margin-right: 24px;
        margin-left: 18px;
        font-size: 19px;
        color: gray;


    }
  
    .proj-ohmy__icondiv2 {

        margin-left: 18px;
        margin-right: 21px;
        font-size: 16px;
        color: gray;   
    }

    .proj-ohmy__icondiv3 { 
        color: #9356DC; 
        padding-right: 0px; 
        margin-left: 18px;
        margin-right: 19px;
        font-size: 16px; 
    }

    .proj-ohmy__iconmbers1 {
        border-radius: 30px; 
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 5px;
        padding-top: 6px;
        color: white;
        background-color: #9356DC; 
        margin-left: -10px;
        font-size: 11px;     
    }

    .proj-ohmy__iconmbers2 {
        border-radius: 30px; 
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 5px;
        padding-top: 6px;
        color: white;
        background-color: #9356DC; 
        margin-left: -10px;
        font-size: 11px;
    }

    .proj-ohmy__iconmbers3 {
        border-radius: 30px; 
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 5px;
        padding-top: 6px;
        color: white;
        background-color: #9356DC; 
        margin-left: -10px;
        font-size: 11px;
         
    }

    /* SECTION RESTAURANTS */

    .proj-ohmy__sectResto {

        background-color: #f6f6f6;
        
    }

    .proj-ohmy__titreResto {

        padding-top: 44px;
        padding-left: 20px;
        padding-bottom: 0px;
        margin-bottom: 19px;
        font-size: 22px;
    }

    .proj-ohmy__imgResto {
    
        width:100%;
        height: 177px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        
    }

    .proj-ohmy__imgContainerResto {
    
        height: 244px;
        border: none;
        font-size: 15px;
        display: flex;
        font-family: 'Roboto';
        flex-direction: column;
        background-color: white;
        border-radius: 17px;
        box-shadow: 14px 14px 14px 14px #f1f1f1;   
        margin: 15px;
        margin-bottom: 18px;
    }

    .proj-ohmy_flex {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 13px;
        margin-right: 23px;
    }
    
    .container {
        display: inline-block;
        position: relative;
    }

    .container .text {
        background: #99E2D0;
        z-index: 1;
        position: absolute;
        margin-right: 12px;
        padding-right: 4px;
        right: 0;
        top: 7%;
        color: rgb(21, 119, 78);
        border-radius: 3px;
    } 
        
    .proj-ohmy__étiquette {
        margin-bottom: 1px;
        margin-top: 7px;
        padding-bottom: 1px;
        font-size: 13px;
        font-weight: 700;
        font-family: 'Roboto';
        margin-left: 12px;
        margin-right: 12px;
    }

    p {
    
        margin-top: 2px;
       
    }

    /* FOOTER */
     
    footer {

        background-color: rgb(59, 58, 58);
        padding: 8px 20px;
        color: #f1f1f1;
        margin-top: 60px;
        line-height: 25px;
        
    }

    .proj-ohmy__fontfamilylogo {
        font-family: 'Shrikhand';
        font-size: 18px;
        margin-top: 13px;
        margin-bottom: -3px;
    }

    a {
       color: #f1f1f1;
       align-items: center;
       text-decoration: none;
    }

    ul {

        list-style-type: none;
        padding: 0px;
        margin-bottom: 30px;
        margin-top: 16px;
    }

    li a {
      
        font-size: 15px;
    }

    .proj-ohmy__iconfooter {

        margin-right: 8px;
        font-size: 13px;
    }

    .proj-ohmy__iconsizeHands {
        font-size: 11px;
    }

    /* FICHIERS PAGES HTML */

    .proj-ohmy__imgheader {

        width: 100%;
        height: 306px;

    }

    .heart__palette {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 36px;
        margin-top: -43px;
    }

    .proj-ohmy__prix {
       
        font-size: 13px;
        font-weight: bold;
        margin-right: 24px;
    }
    .backgr__check {
        background-color: rgb(153 226 208);
        width: 54px;
        margin-right: -56px;
        padding-left: 1px;
        -webkit-animation: backgr__check 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: backgr__check 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
    }
    @keyframes backgr__check {
        0% {
          -webkit-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scaleX(1);
                  transform: scaleX(1);
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          opacity: 1;
        }
      }
      .proj-ohmy__ContainerMenus:hover .backgr__check {
        margin-right: 0px;
        
    }
      
    .checkbox {
        margin-top: 21px;
        margin-left: 12px;
        color: rgb(255 255 255);
        font-size: 20px;
        transform: rotate(-270deg);
        transition: transform 0.3s ease-out;
        position: absolute;
        -webkit-animation: checkbox 0.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	    animation: rotate-top 0.1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

    }
    @keyframes checkbox {
        0% {
          -webkit-transform: rotate(0);
                  transform: rotate(0);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      
    .proj-ohmy__ContainerMenus:hover .checkbox {
        transform: rotate(0deg);

    }
    li {
        position: relative;
    }

    .item__menu1 {
        position: relative;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 9px;
        width: 100%; 
        animation: fadein 5s ease-in-out 0s 1 normal both;
        overflow: hidden;
        margin: 0 auto;
    }
    @keyframes fadein{
        
        from {opacity:0;}

        to   {opacity:1;}
        
    } 
    .item__menu2 {
        position: relative;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 9px;
        width: 100%; 
        animation: fadein 5s ease-in-out 2s 1 normal both;
        overflow: hidden;
        margin: 0 auto;
    }
    @keyframes fadein{
        
        from {opacity:0;}

        to   {opacity:1;}
        
    } 
    .item__menu3 {
        position: relative;
        padding-left: 10px;
        padding-top: 6px;
        padding-bottom: 9px;
        width: 100%; 
        animation: fadein 5s ease-in-out 4s 1 normal both;
        overflow: hidden;
        margin: 0 auto;
    }
    @keyframes fadein{
        
        from {opacity:0;}

        to   {opacity:1;}
        
    } 
    
    .loader {
        position: fixed;
        display: grid;
        place-items: center;
        background-color:#ffffff;
        height: 100vh;
        inset: 0;
        z-index: 2;
        opacity: 0.9;
        animation: disappear 200ms 3s forwards;
        transform-origin: top;
        animation-direction: 3s;   
    }

    i {
        animation: spin 3s infinite linear;
    }
    .color__spin {
        color:  #9356DC;
        
    }

      @keyframes disappear {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(0);
        }
    }
    
    .proj-ohmy__btndivpages {

        background-color: #f1f1f1;
        width: 100%;
        height: 90px;
    }

    .proj-ohmy__ContainerMenus {

        border: none;
        background-color: white;
        box-shadow: 2px 5px 3px #f0f0f0; 
        border-radius: 14px;
        font-weight: bold;
        font-size: 17px;
        font-family: 'Roboto';
        margin-top: 16px;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        
    }
    label {
        width: calc(100% - 2rem);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;  
        cursor : pointer; 
    }
    ol {
        padding: 0px;
        margin-top: -7px;
        margin-bottom: -29px;
    }
    .item__menu--hidden {
        display: none;
    }
    

    .flex__li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .boxes__flex {
    
        display: flex;
        justify-content: space-between;
        
    }

    .proj-ohmy__ContainerMenus2 {
        border: none;
        font-size: 17px;
        font-family: 'Roboto';
        background-color: white;
        box-shadow: 2px 5px 3px #f0f0f0; 
        margin-bottom: 12px;
        text-align: start;
        border-radius: 14px;
        margin-top: 12px;
        padding: 12px;
        line-height: 0px;
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15px;
        height: 40px;
    }
     
    .proj-ohmy__marginMenus2 {
        margin-left: 8px;
        font-weight: bold;
        padding-top: 17px;
        line-height: 2px;
    }

    h4 {
        
        width: 33px;
        margin-left: 20px;  
        font-size: 13px;
        font-weight: 300;  
        margin-top: 58px;
        padding-bottom: 2px;
    }

    .bordh4 {
        border-bottom: 3px solid rgb(153 226 208);
    }

    h5 {

        border-bottom: 2px solid #99E2D0;  
    }

    .parent {
        position: relative;
        width: 100%;
    }

    .child1 {
        position: absolute;
        width: 100%;
        opacity: 1;  
    }

    .child2 {
        z-index: 1;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 249px;
        margin-bottom: 79px;
        padding-top: 47px;
        border-radius: 35px 35px 0px 0px;
        background-color: #f6f6f6;
        width: 100%;
    }
    .heart {
        font-size: 24px;
    }
    
    .heart1 {
        height: 200px;
        position: absolute;
        z-index: 1;
       
    }
    .heart2 {
        height: 100px;
        position: absolute;
        z-index: 2;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: all 400ms ease-in-out;
        opacity: 0;
        cursor: pointer;
        
    }
    .heart2:hover {
        
        background-image: linear-gradient(to top right, #FF79DA, #9356DC);
        opacity: 1;
        transform: scale(1);  
    }
    
    .proj-ohmy__imgIconheartpages {
        float: right;
        line-height: 0px;
        position: static;
        margin-top: -32px;
        margin-bottom: 0px;
        padding-right: 37px;
        font-size: 23px;
        color: #555454;
    }

    .h1pages {
        font-weight: 300;
        margin-bottom: 9px;
        padding-left: 21px;
        margin-top: -23px;
        font-size: 26px;
        padding-top: 5px;
    }

    .proj-ohmy__Iconflechespages {
        font-size: larger;
        color: black;
        margin-right: -23px;
    }

    .main-headerpages {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    header a > img.ohmyfoodpages {
        height: 29px;
        margin-top: 7px;
        margin-bottom: 12px;
        margin-right: 103px;
        padding-top: 19px;
        margin-left: 88px;
    }
 
    .paraPages {
        
        font-weight: 300;  
        font-size: 13px; 
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 5rem);
        display: inline-block;
    }
    
    .proj-ohmy__btnPages {
        color: white;
        cursor: pointer;
        border-radius: 28px;
        font-size: 15px;
        border: none;
        height: 43px;
        width: 45%;
        margin-top: 72px;
        margin-left: 106px;
        background: linear-gradient(to bottom right,#FF79DA,#9356DC);
        font-weight: bold;
        box-shadow: 14px 19px 15px #dad9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -15px;
    }
    .proj-ohmy__btnPages:hover {
        background: linear-gradient(to bottom right,#ff8fdf, #a470e4);
    }

    .proj-ohmy__footerPages {
        background-color: rgb(59, 58, 58);
        color: #f1f1f1;
        padding: 5px 25px;
        margin-top: 70px;
    }
    .proj-ohmy__inputMsg {
        height: 175px;
        width: 93%;
    }

    .proj-ohmy__inputNameEmail {
        height: 40px;
        width: 93%;
    }

    .proj-ohmy__sendContact {   
        padding-left: 6px;
        padding-right: 6px
    }

    .proj-ohmy__sendbtn {
        
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 29px;
        margin-top: 10px;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        border-radius: 20px;
    }

    .proj-ohmy__h3Contact {

        margin-left: 27px;
        margin-top: 81px;
        margin-bottom: 41px;
    }

    .textOv {

        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

}
